<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WorkScope{% endblock %}</title>
    <link href="/static/main/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>WorkScope</h1>
    </header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'general_statistics' %}">Общая статистика</a></li>
                <li><a href="{% url 'home' %}">Востребованность</a></li>
                <li><a href="{% url 'home' %}">География</a></li>
                <li><a href="{% url 'home' %}">Навыки</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        Суркина Мария Олеговна, РИ-230936
    </footer>
</body>
</html>
