{% extends 'main/base.html' %}

{% block title %}Java-разработчик{% endblock %}

{% block content %}

<h2>География</h2>  <!-- Заголовок раздела -->

<!-- Вставляем HTML-код таблицы -->
<div class="parent">

<!-- ПЕРВАЯ СЕКЦИЯ -->

    <div class="container-stat">
      <!-- Левая часть с заголовком и графиком -->
      <div class="left">
        <h3>{{ sections.0.title }}</h3>  <!-- Заголовок раздела -->
        <img src="{{ sections.0.graph.url }}" alt="График первой секции" />
      </div>

      <!-- Правая часть с таблицей -->
      <div class="right">
        <div class="statistics">
          {{ sections.0.table_html|safe }}  <!-- Выводим HTML-код таблицы -->
        </div>
      </div>
    </div>

<!-- ВТОРАЯ СЕКЦИЯ -->

    <div class="container-stat">
      <!-- Левая часть с заголовком и графиком -->
      <div class="left">
        <h3>{{ sections.1.title }}</h3>  <!-- Заголовок раздела -->
        <img src="{{ sections.1.graph.url }}" alt="График второй секции" />
      </div>

      <!-- Правая часть с таблицей -->
      <div class="right">
        <div class="statistics">
          {{ sections.1.table_html|safe }}  <!-- Выводим HTML-код таблицы -->
        </div>
      </div>
    </div>
</div>

{% endblock %}